/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  color: #FAF9F6;
  background-color: #333333;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

a {
  color: #80CBC4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  color: #80CBC4;
}

/* Nav Bar */
.nav-bar {
  background-color: #333A3F;
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  height: 40px;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline;
}

/* Profile Section */
.profile {
  text-align: left;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.profile-picture img {
  height: 20rem;
  width: 20rem;
  margin-right: 2rem;
}

/* Education & Experience */
.edu, .hobby, .experience-header {
  border-bottom: 1px solid #FAF9F6;
}

.ul {
  margin: 0;
  padding: 0;
}

/* Hobbies Section */
.hobby-content {
  padding-top: 1rem;
}

.hobby-images-videos img, .hobby-images-videos video {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
}

.hobby-images-videos {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-content {
    flex-direction: column;
  }

  .nav-menu {
    flex-direction: column;
    gap: 0.5rem;
  }

  .profile {
    flex-direction: column;
  }

}
