{% extends 'index.html' %}

{% block content %}
<section class="profile">
  <div id="profile-picture" class="profile-picture">
    <img src="{{ url_for('static', filename='assets/prof.jpg') }}" alt="Sam Profile Picture" />
  </div>
  <div class="prof-desc">
    <h2>Hello, I'm Sam, a software engineer living in the Greater Toronto Area.</h2>
    <p>I am currently pursuing my Masters of Computer Science from the University of Pennsylvania, where I am expected to graduate in 2025. I also graduated from McMaster University's Bachelors of Health Sciences Honours program in 2021.</p>
    <p>I have a diverse background in software development, with experience spanning across various roles and companies. Currently, I am a Production Engineering Fellow at Meta and Major League Hacking, building and managing dynamic web-based applications and Linux infrastructure. I have also worked as a Software Engineer at CS Engineering, optimizing CI/CD pipelines and internal tooling, and OSLabs, developing Trydent - an E2E test generator.</p>
    <p> Feel free to reach out and connect with me!</p>
  </div>
  </div>
</section>

<h1>Education</h1>
<div class="edu-container">
  {% for edu in education %}
  <div class="edu">
    <h3>{{ edu.school }}</h3>
    <span>{{ edu.degree }}</span>  |  
    <span>{{ edu.year }}</span>
  </div>
  {% endfor %}
</div>

<h1>Experience</h1>
<div id="experiences">
  {% for experience in experiences %}
  <div>
    <div class="experience-header">
      <h3>{{ experience.company_name }}  |  <span>{{ experience.position }}</span> </h3>
      <span>{{ experience.location }}</span>  |  
      <span>{{ experience.dates }}</span>
    </div>
    <!-- <ul class="experience-description"> -->
    <!--   {% for description_line in experience.description %} -->
    <!--   <li>{{ description_line }}</li> -->
    <!--   {% endfor %} -->
    <!-- </ul> -->
  </div>
  {% endfor %}
</div>
{% endblock %}
